# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# IDEA files
*.iml
ui/*.iml
WebModule/*.iml
DBModule/*.iml
AutomationModule/*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Folders and files
.*
ui/target
ui/package-lock.json.
ui/.DS_Store
ui/.tern-project
ui/build/*
ui/node_modules/
ui/dist/
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/tests/unit/coverage/
ui/tests/e2e/reports/
ui/selenium-debug.log
WebModule/target
WebModule/.*
DBModule/target
DBModule/.*
AutomationModule/target
AutomationModule/.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
